body {
	background-color: rgb(218, 220, 220);
	text-align: center;
}
ul.li {
  list-style-type: circle;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}